---
layout: theme-layouts/roq-default/main
---

{#search-overlay /}
{#insert /}

{#menu}
{#search-button /}
{#include partials/roq-default/sidebar-menu menu=cdi:menu.nav /}
{#include partials/roq-default/sidebar-menu menu=cdi:menu.doc menuTitle="Doc" /}
{/}

{#footer}
<footer>
  {#include partials/roq-default/sidebar-contact /}
  <section class="support">
    <p><b>To support me, give me some stars:</b></p>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/quarkiverse/quarkus-roq" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star quarkiverse/quarkus-roq on GitHub">Star</a>
  </section>
  {#include partials/roq-default/sidebar-copyright /}
</footer>
{/}