---
layout: theme-layouts/roq-default/post
---

{@io.quarkiverse.roq.frontmatter.runtime.model.DocumentPage page}

{#insert /}

{#article-end}
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="quarkiverse/quarkus-roq"
        data-repo-id="R_kgDOL4WdMA"
        data-category="Comments"
        data-category-id="DIC_kwDOL4WdMM4CjtXB"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{/}
