---
layout: default
link: ":name.html"
---

{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}

<aside class="sidebar">
  <header>
    <div class="about">
      {#if site.img}
      <div class="cover-author-image">
        <a href="{site.url}"><img src="{site.img}" alt="{site.data.name}"></a>
      </div>
      {/if}
      <div class="author-name">{site.data.name}</div>
      <p>{site.description}</p>
      <p>I crafted this blog myself and <a href="https://github.com/quarkiverse/quarkus-roq/actions/workflows/deploy-blog.yml" target="_blank">published it</a> on GitHub Pages. The sources of this example website are located <a href="https://github.com/quarkiverse/quarkus-roq/tree/main/blog" target="_blank">there</a>.</p>

    </div>
    <div class="menu">
      <h3 class="menu-title">MENU</h3>
      <ul>
        <li><a href="{site.url}"><i class="fa fa-newspaper-o"></i>Blog</a> </li>
        <li><a href="https://docs.quarkiverse.io/quarkus-roq/dev/index.html" target="_blank"><i class="fa fa-book"></i>Documentation</a> </li>
        <li><a href="{site.rootUrl.resolve('events/')}"><i class="fa fa-calendar"></i>Events</a> </li>
      </ul>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {#if site.data.social-twitter??}
        <li><a href="https://twitter.com/{site.data.social-twitter}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {/if}
        {#if site.data.social-facebook??}
        <li><a href="https://facebook.com/{site.data.social-facebook}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {/if}
        {#if site.data.social-github??}
        <li class="github"><a href="http://github.com/{site.data.social-github}" target="_blank"><i class="fa fa-github"></i></a></li>
        {/if}
        {#if site.data.social-linkedin??}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{site.data.social-linkedin}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {/if}
        {#if site.data.social-email??}
        <li class="email"><a href="mailto:{site.data.social-email?}"><i class="fa fa-envelope-o"></i></a></li>
        {/if}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{global:now.format('Y')} &copy; {site.data.simple-name}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {#insert /}
</div>