---
layout: main
link: posts/:title
---
<article class="article-page">
  <div class="page-content">
    {#if page.img}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src="{page.img.toUrl.absoluteOrElseFrom(site.rootUrl.relative.resolve('static/images/'))}" alt="{page.title}">
        {#if page.figCaption}
        <figcaption>{page.figCaption}</figcaption>
        {/if}
      </figure>
    </div> <!-- End Page Cover Image -->
    {/if}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{page.title}</h1>
        <div class="page-date"><span>{page.date.format('yyyy, MMM dd')}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {#insert /}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={page.title}&url={page.url.absolute}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={page.url.absolute}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={page.url.absolute}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">

        </div>
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->