<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {#if paginator.previousPage}
      {#if paginator.previousPage == 1}
      <p><a class="newer-posts" href="{config.rootPath}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
      {#else}
      <p><a class="newer-posts" href="{config.rootPath}/page/{paginator.previousPage}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
      {/if}
      {/if}

      {#if paginator.totalPages > 1}
      <p><span class="page-number">Page {paginator.page} of {paginator.totalPages}</span></p>
      {/if}

      {#if paginator.nextPage}
      <p><a class="older-posts" href="{config.rootPath}/page/{paginator.nexPpage}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {/if}
    </ul>
  </nav>
</div>