body.page-not-found {
  width: 100vw;
  background-color: white;
  .wrapper {
    height: 100vh;
    max-width: 100%;

    .main {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        height: 200px;
      }
    }
  }
}

