.giscus {
  padding: 10px;
}

.event {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .event-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .post-date {
      color: #333;
      font-size: 1.3rem;
      font-weight: 500;

      i {
        margin-right: 20px;
      }
    }

    .event-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #000;
      margin: 0;
      transition: color 0.2s ease;

    }

    p {
      color: #555;
      line-height: 1.6;
      margin: 0;
      font-size: 1rem;
    }

    a {
      font-weight: 600;
      text-decoration: none;
      margin-top: 10px;
      transition: color 0.2s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Responsive design
@media (max-width: 768px) {
  .event {
    padding: 15px;
  }

  .event-content {
    .event-title {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
}