<!-- Favicon -->
{! Favicon documentation: https://iamroq.dev/docs/basics/#favicon !}
{#if site.data.containsKey('icon')}
{#let icon=site.data.getString('icon')}
<link rel="icon" href="{site.image(icon)}" type="{icon.mimeType}">
{/let}
{#else if site.data.containsKey('favicon')}
{#let icon=site.data.getString('favicon')}
<link rel="icon" href="{site.image(icon)}" type="{icon.mimeType}">
{/let}
{#else}
{! Modern favicon auto-discovery: SVG + ICO + apple-touch-icon !}
{#if site.imageExists('favicon.svg')}
<link rel="icon" href="{site.image('favicon.svg')}" type="image/svg+xml">
{/if}
{#if site.imageExists('favicon.ico')}
<link rel="icon" href="{site.image('favicon.ico')}" sizes="32x32">
{#else if site.imageExists('favicon.png')}
<link rel="icon" href="{site.image('favicon.png')}" type="image/png">
{#else if site.imageExists('site-icon.svg')}
<link rel="icon" href="{site.image('site-icon.svg')}" type="image/svg+xml">
{/if}
{#if site.imageExists('apple-touch-icon.png')}
<link rel="apple-touch-icon" href="{site.image('apple-touch-icon.png')}">
{/if}
{/if}