{#seoTitle pageTitle=page.title siteTitle=site.title /}
{#seoDescription pageDescription=page.description siteDescription=site.description /}
{#seoAuthor pageAuthor=page.author siteAuthor=site.author /}
{#seoUrl pageUrl=page.url siteUrl=site.url /}
{#seoType page /}
{#seoImage page site /}
{#seoVerifications webmasterVerifications=site.webmasterVerifications /}
{#seoPaginator previousPage=page.previous nextPage=page.next/}
{#seoFacebook facebook=site.facebook /}
{#seoTwitter twitter=site.twitter /}
{#seoLocale pageLocale=page.lang siteLocale=site.lang defaultLocale=global:locale /}
{#seoGenerator name="Quarkus Roq" version=global:roqVersion /}