{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
{#if page.paginator??}
    <!-- SEO PAGINATOR -->
    {#if page.paginator.previous}
    <link rel="prev" href="{page.paginator.previous.absolute}" />
    {/if}
    {#if page.paginator.next}
    <link rel="next" href="{page.paginator.next.absolute}" />
    {/if}
{#else if page.collection??}
  <!-- SEO COLLECTION PAGES -->
  {#let prevPage = site.collections.resolvePreviousPage(page)}
  {#if prevPage}
  <link rel="prev" href="{prevPage.url.absolute}" />
  {/if}
  {/let}
  {#let nextPage = site.collections.resolveNextPage(page) }
  {#if nextPage}
  <link rel="next" href="{nextPage.url.absolute}" />
  {/if}
  {/let}
{/if}
