{#if page.paginator}
    <!-- SEO PAGINATOR -->
    {#if page.paginator.previous}
    <link rel="prev" href="{page.paginator.previous.absolute}" />
    {/if}
    {#if page.paginator.next}
    <link rel="next" href="{page.paginator.next.absolute}" />
    {/if}
{#else}
  <!-- SEO COLLECTION PAGES -->
  {#let prevPage = collections.resolvePreviousPage(page)}
  {#if prevPage}
  <link rel="prev" href="{prevPage.url.absolute}" />
  {/if}
  {/let}
  {#let nextPage = collections.resolveNextPage(page) }
  {#if nextPage}
  <link rel="next" href="{nextPage.url.absolute}" />
  {/if}
  {/let}
{/if}
