{#for section in cdi:bio.list}
<div x-data="{ showAll: false }">
  {#resumeSection title=section.title footer=capture:strong}
  {#for item in section.items}
  <div x-show="showAll || {item_index} < 3" x-cloak>
    {#resumeItem
          header=item.header
          title=item.title}
    {item.content.markdownify}
    {/resumeItem}
  </div>
  {/for}
  {#if section.items.size > 3}
  <li
    class="relative before:absolute before:top-1 before:-left-[1.875rem] before:block before:size-4 before:rounded-full before:border-1 before:border-2 before:border-timeline-dot-border/75 before:bg-main before:content-[''] dark:before:border-timeline-dot-border-dark/75 dark:before:bg-main-dark">
    <button
      class="mt-2 text-sm text-muted hover:text-body transition cursor-pointer dark:text-muted-dark dark:hover:text-body-dark"
      @click="showAll = !showAll"
      x-text="showAll ? 'Show less' : '... Show more'"
    ></button>
  </li>
  {/if}
  {/resumeSection}
</div>
{/for}