---
layout: roq-default/default
---

{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}

<aside class="sidebar">
  {#insert header}
  <header>
    {#insert about}{#include partials/roq-default/sidebar-about /}{/}
    {#insert menu}{#include partials/roq-default/sidebar-menu /}{/}
  </header> <!-- End Header -->
  {/}
  {#insert footer}
  <footer>
    {#insert contact}{#include partials/roq-default/sidebar-contact /}{/}
    {#insert copyright}{#include partials/roq-default/sidebar-copyright /}{/}
  </footer> <!-- End Footer -->
  {/}
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {#insert /}
</div>
