{@java.lang.String title}
{#let
  headingClass=(headingClass ?: "text-xl font-medium text-heading dark:text-heading-dark")
  borderClass=(borderClass ?: "mb-8 border-b-4 border-section-border py-2.5 dark:border-section-border-dark")
}
<section {#if class??}class="{class}"{/if}>
  <div class="{borderClass}">
    <h3 class="{headingClass}">{title}</h3>
  </div>
  <ul
    class="relative space-y-6 pl-6
           before:absolute before:top-0 before:bottom-0 before:left-0
           before:block before:w-1 before:rounded-full
           before:bg-timeline-bar dark:before:bg-timeline-bar-dark
           before:content-['']">
    {nested-content}
  </ul>
  {#insert footer/}
</section>