<li
  class="relative before:absolute before:top-6 before:-left-[1.875rem] before:block before:size-4 before:rounded-full before:border-1 before:border-2 before:border-purple-200/75 before:bg-white before:content-[''] dark:before:border-purple-800/75 dark:before:bg-gray-950"
>
  <h4
    class="text-sm font-semibold text-purple-600 dark:text-purple-500"
  >
    {header}
  </h4>
  <h5 class="mb-2 font-bold">
    {title}{#if link??} -
    <a
      class="font-medium text-black underline hover:text-black/75"
      href="{link}"
      target="_blank"
    >{link}</a>{/if}
  </h5>
  <div class="text-sm/relaxed text-gray-700 dark:text-gray-300 markdown">
    {nested-content}
  </div>
</li>