<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {#if page.paginator.previous}
      {#if page.paginator.isSecond}
      <p><a class="newer-posts" href="{site.url}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
      {#else}
      <p><a class="newer-posts" href="{page.paginator.previous.relative}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
      {/if}
      {/if}

      {#if page.paginator.total > 1}
      <p><span class="page-number">Page {page.paginator.currentIndex} of {page.paginator.total}</span></p>
      {/if}

      {#if page.paginator.next}
      <p><a class="older-posts" href="{page.paginator.next.relative}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {/if}
    </ul>
  </nav>
</div>