{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
{@io.quarkiverse.roq.frontmatter.runtime.model.Page page}

{#if page.data.getString('og-image')??}
  {#let ogImage=page.data.getString('og-image')}
  <!-- SEO IMAGE (generated OG card) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:src" content="{site.url(ogImage)}" />
  <meta property="og:image" content="{site.url(ogImage)}" />
  {/let}
  {#if page.data.getString('og-image-width')??}
  <meta property="og:image:width" content="{page.data.getString('og-image-width')}" />
  {/if}
  {#if page.data.getString('og-image-height')??}
  <meta property="og:image:height" content="{page.data.getString('og-image-height')}" />
  {/if}
  {#if page.data.getString('og-image-alt')??}
  <meta name="twitter:image:alt" content="{page.data.getString('og-image-alt')}" />
  {/if}
{#else}
  {#if page.image}
  <!-- SEO IMAGE -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:src" content="{page.image.absolute}" />
  <meta property="og:image" content="{page.image.absolute}" />
  {#else}
  <!-- SEO IMAGE -->
  <meta name="twitter:card" content="summary">
  {/if}
{/if}
