{@java.lang.String tag}

{#ga4 tag="" /}
<meta charset="utf-8">

{#seo page site /}
{#rss site /}

<base href="{site.url.root.relative}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="{site.imagesDirUrl.resolve('site-icon.svg')}" type="image/svg+xml">
<meta name="theme-color" content="#263959">
<meta name="msapplication-navbutton-color" content="#263959">
<meta name="apple-mobile-web-app-status-bar-style" content="#263959">
<link rel="stylesheet" href="{site.url.fromRoot('/static/bundle/roq.css')}">

{#bundle /}