/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;

      .post-title {
        margin: 0 0 5px;

        a {
          font-size: 21px;
        }
      }
    }
  }
}

@media only screen and (max-height: 1025px) {
  aside.sidebar.main {
    .about p {
      display: none;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  aside.sidebar.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

    footer {
      margin-bottom: 10px;
    }

  }

  .wrap-content {
    padding: 10px;
  }
  .content-box, .page-content {
    padding: 0px;
  }

  .about {
    text-align: center;
    margin: 10px auto auto;

    .cover-author-image img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
  }

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .contact-title, .copyright {
    display: none;
  }


  pre {
    padding: 0;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .wrap-content {
    padding: 5px;
  }
  .content-box, .page-content {
    padding: 0px;
  }


  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;

      .post-title {
        margin: 0 0 5px;

        a {
          font-size: 21px;
        }
      }
    }
  }
}
