:root {
    /* Essential layout dimensions */
    --asciidoc-rem-base: 18;
    --asciidoc-viewport-height: calc(100 * var(--asciidoc-vh, 1vh));
    --asciidoc-navbar-height: calc(63 / var(--asciidoc-rem-base) * 1rem);
    --asciidoc-toolbar-height: calc(45 / var(--asciidoc-rem-base) * 1rem);
    --asciidoc-body-top: var(--asciidoc-navbar-height);
    --asciidoc-toc-top: calc(var(--asciidoc-body-top) + var(--asciidoc-toolbar-height));
    --asciidoc-toc-height: calc(var(--asciidoc-viewport-height) - var(--asciidoc-toc-top) - 2.5rem);
    --asciidoc-toc-width: calc(162 / var(--asciidoc-rem-base) * 1rem);
    --asciidoc-toc-width--asciidoc-widescreen: calc(216 / var(--asciidoc-rem-base) * 1rem);
    --asciidoc-doc-max-width--asciidoc-desktop: calc(1500 / var(--asciidoc-rem-base) * 1rem);
    --asciidoc-z-index-doc: 1;
}

body.documentation {
  word-wrap: anywhere;
}

body.documentation .wrapper {
  max-width: 1500px;
  position: relative;
}

body.documentation .page-content {
  padding: 30px;
  display: flex;
  min-width: 0;
  overflow: clip;
}

@media only screen and (max-width: 768px) {
  body.documentation .page-content {
    padding: 0;
    margin: 0;
    display: block;
  }
}

@media screen and (max-width: 1023.5px) {
  body.documentation aside.toc.sidebar {
    display: none;
  }

  body.documentation main > .content {
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) {
  body.documentation aside.toc.embedded {
    display: none;
  }

  body.documentation aside.toc.sidebar {
    flex: 0 0 var(--asciidoc-toc-width);
    order: 1;
  }
}

@media screen and (min-width: 1216px) {
  body.documentation aside.toc.sidebar {
    flex-basis: var(--asciidoc-toc-width--asciidoc-widescreen);
  }
}

body.documentation .toc-menu {
  color: rgb(82 82 91); /* zinc-600 */
}

.dark body.documentation .toc-menu {
  color: rgb(161 161 170); /* zinc-400 */
}

body.documentation .toc.sidebar .toc-menu {
  margin-right: 0.75rem;
  position: sticky;
  top: var(--asciidoc-toc-top);
}

body.documentation .toc .toc-menu h3 {
  color: rgb(39 39 42); /* zinc-800 */
  font-size: calc(16 / var(--asciidoc-rem-base) * 1rem);
  font-weight: 600;
  line-height: 1.3;
  margin: 0 -0.5px;
  padding-bottom: 0.25rem;
}

.dark body.documentation .toc .toc-menu h3 {
  color: rgb(228 228 231); /* zinc-200 */
}

body.documentation .toc.sidebar .toc-menu h3 {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  justify-content: flex-end;
}

body.documentation .toc .toc-menu ul {
  font-size: calc(15 / var(--asciidoc-rem-base) * 1rem);
  line-height: var(--asciidoc-toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

body.documentation .toc.sidebar .toc-menu ul {
  max-height: var(--asciidoc-toc-height);
  overflow-y: auto;
  overscroll-behavior: none;
  scrollbar-width: none;
}

body.documentation .toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 1024px) {
  body.documentation .toc .toc-menu h3 {
    font-size: calc(15 / var(--asciidoc-rem-base) * 1rem);
  }

  body.documentation .toc .toc-menu ul {
    font-size: calc(13.5 / var(--asciidoc-rem-base) * 1rem);
  }
}

body.documentation .toc .toc-menu li {
  margin: 0;
}

body.documentation .toc .toc-menu li[data-level="2"] a {
  padding-left: 1.25rem;
}

body.documentation .toc .toc-menu li[data-level="3"] a {
  padding-left: 2rem;
}

body.documentation .toc .toc-menu a {
  color: inherit;
  border-left: 2px solid rgb(228 228 231); /* zinc-200 */
  display: inline-block;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-decoration: none;
}

.dark body.documentation .toc .toc-menu a {
  border-left-color: rgb(63 63 70); /* zinc-700 */
}

body.documentation .sidebar.toc .toc-menu a {
  display: block;
  outline: none;
}

body.documentation .toc .toc-menu a:hover {
  color: rgb(39 39 42); /* zinc-800 */
  -webkit-text-stroke-width: 0.01em;
}

.dark body.documentation .toc .toc-menu a:hover {
  color: rgb(228 228 231); /* zinc-200 */
}

body.documentation .toc .toc-menu a.is-active {
  border-left-color: rgb(37 99 235); /* blue-600 */
  color: rgb(39 39 42); /* zinc-800 */
  -webkit-text-stroke-width: 0.01em;
}

.dark body.documentation .toc .toc-menu a.is-active {
  border-left-color: rgb(59 130 246); /* blue-500 */
  color: rgb(228 228 231); /* zinc-200 */
}

body.documentation .sidebar.toc .toc-menu a:focus {
  background: rgb(249 250 251); /* gray-50 */
}

.dark body.documentation .sidebar.toc .toc-menu a:focus {
  background: rgb(31 41 55); /* gray-800 */
}

body.documentation .toc .toc-menu .is-hidden-toc {
  display: none !important;
}