name: Build Sites

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.txt'
      - '.all-contributorsrc'
jobs:
  build-website:
    name: Build Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'

      - name: Build docs
        run: mvn -B verify --file pom.xml -DskipTests

      - name: Store PR id
        if: github.event_name == 'pull_request'
        run: |
          echo ${{ github.event.number }} > ./docs/target/generated-docs/pr-id.txt

      - name: Publishing docs
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: ./docs/target/generated-docs
          retention-days: 3

      - name: Build blog
        run: |
          QUARKUS_ROQ_GENERATOR_BATCH=true mvn -f blog package quarkus:run

      - name: Publishing blog
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: blog
          path: ./blog/target/roq
          retention-days: 3