## This is basic continuous integration build for your Quarkus application.
name: Quarkus Roq Deploy Blog CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/checkout@v4

      ####
      # We need to build Roq first because we use 999-SNAPSHOT (it's not needed in your website)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Roq
        run: mvn -B clean install -DskipTests
      ####

      - uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          site-directory: 'blog/'
          maven-executable: 'mvn'
          maven-build-args: '-DskipTests -Dquarkus.profile=gh-pages'
