## This is basic continuous integration build for your Quarkus application.
name: Quarkus Roq Deploy Blog CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      ####
      # We need to build Roq first because we use 999-SNAPSHOT (it's not needed in your website)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Roq
        run: mvn -B clean install -DskipTests -Dno-format
      ####

      - name: Generate Blog
        uses: ./ # replace with quarkiverse/quarkus-roq@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Those are not needed in most cases:
          setup-java: 'false'
          site-directory: 'blog'  # needed if the site is located in a subdirectory
          maven-executable: 'mvn' # needed if you don't have ./mvnw in your repository
          maven-build-args: '-DskipTests -Dquarkus.profile=gh-pages'

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
