<section class="about">
  {#if site.data.logo?? || site.image}
  <div class="site-logo">
    <a href="{site.url}"><img src="{#if site.data.logo??}{site.image(site.data.logo)}{#else}{site.image}{/if}" alt="{site.data.name}"></a>
  </div>
  {/if}
  <div class="site-name">{site.data.name}</div>
  <p class="roq-tagline">Java Static Site Generator</p>
  <div class="roq-version">
    <a href="https://central.sonatype.com/artifact/io.quarkiverse.roq/quarkus-roq" target="_blank" rel="nofollow noopener noreferrer">v{cdi:project-info.release.current-version}</a>
  </div>
</section>